.moviePic{
	width:300px;
	height:300px;
	padding:center;
	opacity:0.9;
	object-fit:cover;
	display:block;
}
.movieDetail{
 position:obsolute;
	font-display:large;
	text-align:center;
	top:50%;
	width:100%;
	font-size:1.6rem;
	transform:translateY(-50%);
	
}